.appSection{
    /* border: 2px solid black; */
    width: 90%;
    height: 97%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.appSection::-webkit-scrollbar{
    display: none;
}
@media screen and (min-width:768px){
    .wrapper{
        height: auto;
    }
}