.appSection{
    /* border: 2px solid black; */
    width: 90%;
    height: 97%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 95%;
    z-index: 100;
    background-color: white;
}
.appSection::-webkit-scrollbar{
    display: none;
}
@media screen and (min-width:768px){
    .wrapper{
        height: auto;
    }
}