@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Open+Sans:wght@800&display=swap');

.container{
    /* border: 2px solid red;    */
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Kanit', sans-serif;
    font-size: 700;
}
.box{
    display: grid;
    grid-template-columns: 1fr;
}
.text{
    height: 100%;
    border: 2px solid white;
}
.img{
    display: none;
}



@media screen and (min-width: 765px){
    .headerWrapper{
        /* border: 2px solid blue; */
        padding: 10px;
    }
    
    .box{
        height: 100%;
        border: 2px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #030016;
    }
    .swiperSlide{
        /* border: 4px solid brown;  */
        height: 100%;
    }
    .text{
        border: 2px solid red;
    }
    .img{
        display: block;
    }
    
}