.wrapper{
    /* border: 2px solid black; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 95%;
    z-index: 100;
    background-color: white;
}
.space{
    height: 60px;
    width: 90%;
    border: 2px solid  black;
}