.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    height: 40px;
    position: relative;
}
.list{
    display: none;
}
.hamburgerList{
    list-style: none;
    border: 2px solid black;
}
.hamburgerItem{
    margin: 1.4rem;
}
.hamburgerSection{
    position: absolute;
    top:41px ;
    right: 0;
    z-index: 100;
    width: 60%;
    padding: 10px;
    background-color: white;
}
@media screen and (min-width: 765px){
    .list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }   
    .hamburger{
        display: none;
    }
    .hamburgerList{
        display: none;
    }
}