.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    height: 40px;
}
.list{
    display: none;
}
@media screen and (min-width: 765px){
    .list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }   
    .hamburger{
        display: none;
    }
}